.add {
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 12%;
  left: 75%;
  background-color: rgba(218, 227, 243);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 0px 1%;
  margin: 5% 3%;
  border: none;
}
.add:hover {
  color: azure;
  background-color: #92aaac;
}

h2 {
  margin-left: 14px;
  margin-right: 20px;
  font-size: 24px;
}

.popupWindow {
  background-color: rgba(218, 227, 243);
  padding: 4%;
  margin: auto;
  display: flex;
  position: fixed;
  border-radius: 2%;
  width: 80%;
  height: 80%;
  max-width: 80%;
  max-height: 80%;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconimage {
  cursor: pointer;
}
.p1 {
  border-radius: 20px;
  background-color: #fefeffba;
  margin: -1%;
  padding: 1%;
  overflow: hidden;
  overflow-y: auto; /* تفعيل التمرير العمودي */
  max-height: calc(70vh - 60px); /* تحديد ارتفاع محتوى التمرير */
}
.p2 {
  display: flex;
  margin: 0 1%;
  padding: 1% 7%;
  justify-content: space-between;
}

.p3 {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
}
.p3 .nameicons1 {
  margin: 9% 19%;
}
.p3 .nameicons2 {
  margin: 7% 25%;
}
.p1 .text1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.p1 .p4 {
  display: flex;
  justify-content: space-between;
  margin: 4% 8%;
}
.p1 .p5 {
  width: 75%;
  padding-left: 3%;
  border-radius: 15px;
  background-color: rgba(218, 227, 243);
  border: none;
  box-shadow: 12px 10px 12px rgb(154 166 177 / 94%);
}
#p3 {
  padding-top: 2%;
  padding-bottom: 2%;
}
#p4 {
  padding-top: 4%;
  padding-bottom: 4%;
}
.pdf {
  width: 60%;
  display: flex;
  margin-left: 3%;
}
.upload-box {
  position: relative;
  width: 180px;
  height: 150px;
  background-color: rgba(218, 227, 243);
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* لإظهار أن العنصر قابل للنقر */
}

.upload-box input[type="file"] {
  position: absolute;
  top: auto;
  left: auto;
  width: 32%;
  height: 22%;
  margin-top: 57%;
  margin-right: 7%;
}
.upload-box p {
  pointer-events: none; /* حتى لا يتداخل النص مع النقر على الزر المخفي */
}
@media (width<= 1920px) and (width>=1025px) {
  .popupWindow {
    width: 59%;
  }
  .p1 {
    size: 142%;
    padding: 2%;
    position: absolute;
    right: 6%;
    top: 11%;
    width: 86%;
  }
  .p3 {
    position: absolute;
    bottom: 3%;
    left: 35%;
    gap: 177%;
    margin: 0%;
  }
  .p3 .nameicons1 {
    position: absolute;
    bottom: 92%;
    right: 38%;
  }
  .p3 .nameicons2 {
    left: 205%;
    position: absolute;
    bottom: 92%;
  }
}
@media (width<= 1024px) and (width> 768px) {
  .popupWindow {
    width: 59%;
  }
  .p1 {
    size: 142%;
    padding: 2%;
    position: absolute;
    right: 6%;
    top: 11%;
    width: 86%;
  }
  .p3 {
    position: absolute;
    bottom: 2%;
    left: 31%;
    gap: 130%;
    margin: 0%;
  }
  .p3 .nameicons1 {
    position: absolute;
    bottom: 92%;
    right: 38%;
  }
  .p3 .nameicons2 {
    left: 157%;
    position: absolute;
    bottom: 92%;
  }
}
@media (width<= 768px) and (width> 480px) {
  .popupWindow {
    width: 59%;
  }
  .p1 {
    size: 142%;
    padding: 2%;
    position: absolute;
    right: 6%;
    top: 11%;
    width: 86%;
  }
  .p3 {
    position: absolute;
        bottom: 3%;
        left: 29%;
        gap: 86%;
        margin: 0%;
  }
  .p3 .nameicons1 {
    position: absolute;
    bottom: 92%;
    right: 38%;
  }
  .p3 .nameicons2 {
    left: 111%;
    position: absolute;
    bottom: 92%;
  }
}
@media (width<= 480px) {
  .p1 {
    size: 142%;
    padding: 2%;
    position: absolute;
    right: 6%;
    top: 11%;
    width: 86%;
  }
  .p3 {
    position: absolute;
    bottom: 5%;
    left: 31%;
    gap: 54%;
    margin: 0%;
  }
  .p3 .nameicons1 {
    position: absolute;
    bottom: 92%;
    right: 38%;
  }
  .p3 .nameicons2 {
    left: 78%;
    position: absolute;
    bottom: 92%;
  }
}